<!-- Vertical Layout -->
<div class="row clearfix">
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <div class="card" style="width: 100%">
      <div class="header">
        <h2>
          CREATE DEPARTMENT
        </h2>

      </div>
      <div class="body">

        <div class="row">

          <div class="col-sm-6"> class="col-sm-6"</div>
<div class="col-sm-6">class="col-sm-6"</div>
        </div>
      
      </div>
    </div>
  </div>


   <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="card" style="width: 100%">
     
      <div class="body">
      
      </div>
    </div>
  </div>
</div>
<!-- #END# Vertical Layout -->