<!-- Vertical Layout -->
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card" style="width: 70%;margin:auto">
      <div class="header">
        <h2>
          CREATE FACULTY
        </h2>

      </div>
      <div class="body">
        <form id="facultyForm">
          <label for="email_address">Name</label>
          <div class="form-group">
           
              <input
                type="text"
              name="name"
                class=""
                id="name"
                placeholder="Enter Faculty Name"
              />
           
          </div>
          <label for="password">Description</label>
          <div class="form-group">
        
              <textarea class="" id="description" name="description" rows="4" placeholder="Enter Description"></textarea>
            
          </div>

          <br />
          
          <center>
            <button
              type="submit"
              class="btn btn-primary m-t-15 waves-effect"
            >SAVE</button></center>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- #END# Vertical Layout -->

<script>





const loginForm =  document.getElementById("facultyForm")

loginForm.addEventListener('submit',() => {
event.preventDefault()
var name = document.getElementById('name').value
var description = document.getElementById('description').value
//const formData = new FormData(loginForm);
//console.log("Good",formData)
//const data = new URLSearchParams();
//for (const pair of formData) {
//data.append(pair[0], pair[1]);
//}
var data = {name, description}
console.log("Data",data)
axios({
url: `http://localhost:8070/save_faculty`, 
method: 'post',
data
})
.then((res) => {
console.log(res);
Swal.fire(res.data.message);


})
.catch((err) => {
Swal.fire('an error occured pls try again later ');
console.log();
})
});

</script>